@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Poppins:wght@300;600;800&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0px;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif !important;
}

/* html{
    overflow-y:hidden;
} */

header{
    background-image: url(/img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 57vh;
    padding: 2rem 7rem;
    font-size: 1.7rem;
    width: 100%;
}

.navbar{
    display: flex;
    width: 100%;
}

.navbar a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding-left: 1rem;
    font-size: 1.3rem;
}

.navbar ul{
    list-style: none;
    display: flex;
}

.menu{
    display: flex; 
    justify-content: flex-end;
    width: 80%;
}

.navbar li{
    display: flex;
    justify-content: flex-end;
}

#logo{
    display: flex;
    color: white;
    font-weight: 600;
    padding-right: 4rem;
    font-size: 1.7rem;
}

.secaoDestaque{
    font-size: 1.5rem;
    padding-top: 2rem;
    margin: auto;
    color: white;
    font-weight: 600;
    max-width: 700px;
    text-align: center;
}

.secaoDestaque button {
    display: block;
    margin: 0 auto;
    background: none;
    padding: 1.5rem 0;
}

.secaoDestaque button a {
    text-decoration: none;
    font-size: 1rem;
    padding: 1.5rem;
    border-radius: 15px;
    border-color: #eeee;
    background-color: #FFF;
    transition: all .5s ease-in-out;
    color: black;
    font-weight: bold;
}

main h3{
    font-weight: 500;
    text-align: center;
}

.aplicacao{
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto-aplicacao{
    max-width: 500px;
    font-size: 1.1rem;
    text-align: justify;
}

.img-aplicacao{
    display: inline-flex;
    width: 45%;
    padding-right: 3rem;
}

.texto-2{
    display: block;
}

#logo{
    display: flex;
    color: white;
    font-weight: 600;
    padding-right: 4rem;
    font-size: 1.5rem;
}

.footer-bar {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-bar ul {
    text-decoration: none;
    list-style: none;
}

#item-footer {
    padding-left: .5rem;
}

.contatos li {
    padding: .3rem 0;
}

.titulo-planos{
    margin-top: 40px;
}

/* --------- FEEDBACK ----------- */

footer {
    margin-top: 5rem;
}

.footer-bar {
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-bar ul {
    text-decoration: none;
    list-style: none;
}

#item-footer {
    padding-left: .5rem;
}

.contatos li {
    padding: 0.4rem 0;
}

@media (max-width:768px){
    #logo{
        font-size: 15px;
    }

    .navbar a{
        font-size: 16px;
    }

    .secaoDestaque{
        font-size: 16px;
    }

    .secaoDestaque button {
        padding: .6rem 0;
    }
    
    .secaoDestaque button a {
        font-size: 15px;
    }

    header{
        padding: 2rem 3rem;
    }

    .secaoDestaque button a{
        padding: 1rem;
    }

    .card{
        width:350px;
    }

    .footer-bar{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

}

